@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

.footer {
        background-color: rgb(243, 245, 248);
        color: $footerGrey;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Grechen Fuemen", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
}